body
{
    font-family: "Helvetica";
    /**padding: 0;
    margin: 0; **/
}
#top
{
   width: 100%;
   margin: 0;
   padding: 0;
   top: 0;
   left: 0;
   right: 0;
}
.navbar
{
  margin-bottom: 20px;
}
#talentMenu
{
    background-color: #1FB0FF;
    color:	#FFFFFF;
    padding-bottom: 0px;
}
#talentTitle
{
    background-color: #1FB0FF;
    color:	#FFFFFF;
    width: 100%;
}
.tabTest
{
    color: #000000;
}
#pict
{
    margin-left: 41px;
}
#notif
{
    margin-top: 25px;
    margin-bottom: 24px;
    padding-left: 45px;
}
#tab1
{
    padding-left: 45px;
}
td.leftPart
{
   text-align: left;
   
}
td.rightPart
{
    text-align: right;
    padding-right: 25px;
}
#loginPage
{
    background-color: #ffab36;
}
#centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  background-color: #1FB0FF;
}
#loginForm
{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
#loginText
{
    display:block;
    width: 100%;
    margin-bottom: 5px;
    border-style: solid;
    border-color: #ffab36;
    border-width: 5px;
    padding: 0;
}
#passwordText
{
    display:block;
    width: 100%;
    margin-bottom: 5px;
    border-style: solid;
    border-color: #ffab36;
    border-width: 5px;
}
#loginBtn
{
    display: block;
    background-color: #ffab36;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 11px;
}
#loginh3
{
    color: #FFFFFF;
    text-align: center;
}
#logindiv
{
    color: #FFFFFF;
    text-align: center;
}
a
{
    color: #ffab36;
    text-decoration: underline;
}
#university
{
    margin-top: 15px;
}
#university, #email {
    margin-bottom: 15px;
}

.animating{
    animation: animate 1s cubic-bezier(0,1,1,0);            
}

@keyframes animate{
    from {
       transform: scale(0.5);
    }
    to {
       transform: scale(1.7);
    }
}

.custom_bubble
{
  padding: 0.5em;
  position: relative;
  top: -1.5em;
  font-size: 80%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: rgba(255, 0, 0, 1.0);
  color: #FFFFFF;
  text-decoration: none;
  display: :none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}